<?xml version="1.0" encoding="UTF-8"?><manifest package="dev.muhammadessam.tmdb_movies">
  <application xmlns:android="http://schemas.android.com/apk/res/android" android:label="TMDB Movies" android:name="${applicationName}" android:icon="@mipmap/ic_launcher">
    <activity android:hardwareAccelerated="true" android:launchMode="singleTop" android:name=".MainActivity" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode" android:theme="@style/LaunchTheme" android:exported="true" android:windowSoftInputMode="adjustResize">
      <meta-data android:name="io.flutter.embedding.android.NormalTheme" android:resource="@style/NormalTheme"/>
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <intent-filter android:autoVerify="true">
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <data android:scheme="link"/>
        <data android:host="muhammadessam.dev"/>
        <data android:pathPattern="/tmdb-movies/.*"/>
      </intent-filter>
      <meta-data android:name="flutter_deeplinking_enabled" android:value="true"/>
    </activity>
    <meta-data android:name="flutterEmbedding" android:value="2"/>
    <meta-data android:name="com.google.firebase.messaging.default_notification_channel_id" android:value="high_importance_channel"/>
  </application>
  <queries>
    <intent>
      <action xmlns:android="http://schemas.android.com/apk/res/android" android:name="android.intent.action.PROCESS_TEXT"/>
      <data xmlns:android="http://schemas.android.com/apk/res/android" android:mimeType="text/plain"/>
    </intent>
  </queries>
</manifest>
